---
import ContentPageLayout from "@layouts/ContentPageLayout.astro";
import Group from "@components/ContentPage/Group.svelte";
import Image from "@components/ContentPage/Image.svelte";
import Heading from "@components/Heading.svelte";
---

<ContentPageLayout
    title="About"
    description="TODO: Description"
    heroSrc="/images/placeholder4k.jpg" heroAlt="TODO: Placeholder">

    <!-- Intro text -->
    <Group>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt alias vel quod nihil quaerat beatae necessitatibus, nemo reiciendis ut temporibus.</p>
    </Group>
    
    <!-- Impact: Media with caption -->
    <Group>
        <h2>Impact</h2>
        <Image src="/images/placeholder4k.jpg" alt="TODO: Placeholder" caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae." />
    </Group>

    <!-- Mission: Card and text -->
    <Group>
        <Heading size={2} icon="rocket">Mission</Heading>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aspernatur id eaque tempora exercitationem tenetur cum sapiente laborum fuga, at cupiditate, nesciunt hic vero odio voluptatum distinctio excepturi quis ab unde aut? Accusantium iste aliquam numquam nihil soluta, blanditiis modi?</p>
        <div class="
                px-6 py-8 mb-4
                flex flex-col gap-4
                bg-orange-super-light rounded-3xl drop-shadow-md
                italic">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et autem eius hic laudantium rem, non cupiditate veritatis iusto iure molestias soluta!</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati incidunt repudiandae dolorem nobis vel. Expedita optio ipsa, nam, ullam a vel incidunt sunt culpa aspernatur laudantium iste, voluptatum quas?</p>
    </Group>

    <!-- Vision: Card and text -->
    <Group>
        <Heading size={2} icon="glasses">Vision</Heading>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, aspernatur id eaque tempora exercitationem tenetur cum sapiente laborum fuga, at cupiditate, nesciunt hic vero odio voluptatum distinctio excepturi quis ab unde aut? Accusantium iste aliquam numquam nihil soluta, blanditiis modi?</p>
        <div class="
                px-6 py-8 my-2
                flex flex-col gap-4
                bg-navy-super-light rounded-3xl drop-shadow-md
                text-lg italic">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et autem eius hic laudantium rem, non cupiditate veritatis iusto iure molestias soluta!</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem obcaecati incidunt repudiandae dolorem nobis vel. Expedita optio ipsa, nam, ullam a vel incidunt sunt culpa aspernatur laudantium iste, voluptatum quas?</p>
    </Group>

    <!-- History: long-form text -->
    <Group>
        <Heading size={2}>History</Heading>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aperiam sapiente, unde quos incidunt exercitationem repellat. Neque architecto atque sapiente minus a commodi porro quisquam quibusdam debitis autem ad vel, expedita repellat! Tempore velit deserunt facilis amet ut debitis, temporibus rerum dolor. Magnam, fugit harum.</p>
        <Image src="/images/placeholder4k.jpg" alt="TODO: Placeholder" caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae." />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque praesentium numquam hic inventore rem et perspiciatis veniam quod, culpa, repellendus quis assumenda, optio fuga quaerat. Accusamus reprehenderit exercitationem explicabo, quos illum illo beatae saepe repellat dolorem totam ex voluptates quidem eius temporibus hic minus sequi reiciendis, asperiores expedita! Saepe, pariatur vel illum optio, quis doloribus asperiores necessitatibus qui corporis deleniti ipsum reprehenderit mollitia vero facere nihil, consequuntur accusantium. Saepe, veritatis?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae odit debitis temporibus. Dicta est ratione ab sed facere iste modi.</p>
    </Group>

    <!-- Funding -->
    <Group>
        <Heading size={2}>Funding</Heading>
        <Image src="/images/placeholder4k.jpg" alt="TODO: Placeholder" caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae." />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, doloremque quis rem exercitationem veniam vitae enim ab omnis quasi laudantium, asperiores iusto iure. Eos quod obcaecati distinctio suscipit aliquid dolor quam, voluptatibus, ea neque odio unde aspernatur saepe exercitationem adipisci numquam dolorem nam maiores error.</p>
    </Group>
</ContentPageLayout>