---
import Layout from "@layouts/BaseLayout.astro";
import Hero from "@components/home/Hero.svelte";
import OurPurpose from "@components/home/OurPurpose.svelte";
import MediaAndText from "@components/MediaAndText.svelte";
import Button from "@components/Button.svelte";
import Headline from "@components/fragments/Headline.svelte";
import Icon from "@components/Icon.svelte";
import Cards from "@components/sections/Cards.svelte";
import OurHeroes from "@components/home/OurHeroes.svelte";
import CallToAction from "@components/home/CallToAction.svelte";
---

<Layout
    title="U.P. Lions Serve: Childhood Cancer"
    description="Working every day to raise funds for Upper Peninsula families battling childhood cancer, the U.P. Lions Serve: Childhood Cancer program assembles initiatives to assist these families in paying for travel, medical, and household bills. We provide resources and connect families with life-changing programs, including Camp Quality, Maggie’s Wigs 4 Kids, and Kids Kicking Cancer.">
    
    <Hero />

    <!-- TODO: Receive updates from Chris -->
    <OurPurpose client:load />

    <!-- TODO: Clean up formatting, code -->
    <MediaAndText 
        src={`${import.meta.env.BASE_URL}/images/canDrive5-compressed.jpg`}
        alt="Female Lions Club member standing next to a banner that reads 'Cans for Kids with Cancer'">
        <span slot="headline">
            Our <span class="text-orange">Mission</span>
        </span>
        <p>Is to serve children and families from the Upper Peninsula who are battling childhood cancer. Our program assembles initiatives to help these families meet financial needs for travel, medical, and household bills.</p>
        <Button href={`${import.meta.env.BASE_URL}/about#mission`}>Learn more</Button>
    </MediaAndText>
    
    <!-- TODO: Add swipe interactivity -->
    <Cards client:load
        button={
            {
                text: "View All Initiatives",
                href: `${import.meta.env.BASE_URL}/programs#initiatives`
            }
        }
        content={[
            {
                src: "/images/Maggies-Wigs-4-Kids-cover.jpg",
                alt: "Wigs along a wall",
                href: "/initiatives/maggies-wigs-4-kids",
                title: "Maggies Wigs 4 Kids",
                text: "Providing hair and skin restoration services to our children in the U.P."
            },
            {
                src: "/images/Camp-Quality-cover.jpg",
                alt: "Kids sitting around a campfire",
                href: "/initiatives/camp-quality-michigan",
                title: "Camp Quality Michigan",
                text: "Providing year-round programs and experiences at no cost with camps throughout Michigan at 4 different locations."
            },
            {
                src: "/images/Kids-Kicking-Cancer-cover.jpg",
                alt: "Kids in karate position in a dojo",
                href: "/initiatives/kids-kicking-cancer",
                title: "Kids Kicking Cancer",
                text: "Providing martial arts and meditation/pain control classes to U.P. children and their siblings."
            }
        ]}>
        <span slot="headline">Our <span class="text-orange">Initiatives</span></span>
        <span slot="text">We share information and connect families to other nonprofits that may help, either in-person or remotely.</span>
    </Cards>



    <!-- TODO: Make desktop responsive, Add (Read More) on longer texts -->
    <OurHeroes client:load />

    <CallToAction />
</Layout>

<script>
    // const scrollbox: HTMLElement|null = document.getElementById("scrollbox")!
    // console.log(scrollbox.getBoundingClientRect())
    // console.log(window.onscroll)

    // window.addEventListener("scroll", function(e) {
    //     console.log(window.pageYOffset)
    //     // console.log(Math.ceil(window.innerHeight - scrollbox.getBoundingClientRect().bottom));

    //     if (Math.ceil(window.innerHeight - scrollbox.getBoundingClientRect().bottom) - 20 >= 0 && window.innerHeight - scrollbox.getBoundingClientRect().bottom < 100) {
    //         scrollbox.classList.add("overflow-scroll")
    //         scrollbox.classList.remove("overflow-hidden")
            
    //         window.onscroll = () => {
    //             window.scrollTo({
    //                 top: 2844
    //             })
    //         }
    //     } else {
    //         window.onscroll = null
    //         scrollbox.classList.remove("overflow-scroll")
    //         scrollbox.classList.add("overflow-hidden")
    //     }
    // })
    
</script>