---
import NavMenu from "@components/_collections/NavMenu/NavMenu.svelte";
import "../base.css";

interface Props {
    title: string;
    description: string;
    nav?: boolean;
    robots?: boolean;
}

const {
    title,
    description,
    nav = true,
    robots = true,
    } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Basic website setup -->
        <title>{title == "U.P. Lions Serve: Childhood Cancer" ? title : `${title} - U.P. Lions Serve: Childhood Cancer`}</title>
        <meta name="description" content={description}>

        <meta name="robots" content={robots ? "index, follow" : "noindex, nofollow"}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href={`${import.meta.env.BASE_URL}/favicon.png`}>

        <!-- Font initialization -->
        <link rel="stylesheet" href="https://use.typekit.net/zhd4kcf.css" />

        <!-- Donorbox initialization -->
        <!-- <script src="https://donorbox.org/widget.js" paypalExpress="false"></script> -->
    </head>
    <body class="text-navy">
        {nav && <NavMenu page={title} client:load /> }
        <main class="
                flex flex-col items-center gap-12
                ">
            <slot />
        </main>
        <!-- <footer>
            <div class="bg-orange-light h-60 ">

            </div>
            <div class="text-white bg-navy flex flex-col items-center py-8">
                <div class="
                    min-w-[56rem] max-w-4xl
                    grid grid-cols-3
                    ">
                    <div class="
                        flex flex-col justify-between">
                        <Heading size={4} color="white" styling="py-4 uppercase font-medium">Connect with Us</Heading>
                        <div class="flex">
                            <SocialMediaIcon service="fb" styling="mr-4" />
                            <SocialMediaIcon service="mail" />
                        </div>
                        <p>
                            District 10 Lions<br/>
                            Childhood Cancer<br/>
                            PO BOX 107<br/>
                            Engadine, Michigan 49827
                        </p>
                    </div>
                    <div class="
                        col-span-2
                        flex flex-col items-start">
                        <Heading size={4} color="white" styling="py-4 uppercase font-medium">Disclaimer</Heading>
                        <div class="space-y-2" >
                            <p class="text-justify">
                                The content and views shared on this website is provided for information purposes only and is not intended to be a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or other qualified health provider with any questions you may have regarding a medical condition. It is our sincere hope that the resources here will assist you, inform you, guide you and inspire you!
                            </p>
                            <p>
                                Sincerely,<br/>
                                <strong>The U.P. Lions Serve Team</strong>
                            </p>
                        </div>
                    </div>
                </div>
                <a href="https://sugarmaple.media" class="
                    group
                    pt-6 space-x-1
                    flex items-center ">
                    <span>Built by </span>
                     <span class="font-bold group-hover:text-orange-light transition-all">Sugar Maple Media</span>
                    <span>with </span>
                    <Icon id="love" color="fill-white group-hover:fill-orange-light transition-all" styling="scale-[.45] -translate-x-2" />
                </a>
            </div>
        </footer> -->
    </body>
</html>
