---
import Navbar from "@components/Navbar/Navbar.svelte";

const {
    title,
    description,
    nav = true,
    robots = true,
    mainClasses = "",
    } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Basic website setup -->
        <title>{title == "U.P. Lions Serve: Childhood Cancer" ? title : `${title} - U.P. Lions Serve`}</title>
        <meta name="description" content={description}>

        <meta name="robots" content={robots ? "index, follow" : "noindex, nofollow"}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">

        <!-- Font initialization -->
        <link rel="stylesheet" href="https://use.typekit.net/zhd4kcf.css" />

        <!-- Donorbox initialization -->
        <script src="https://donorbox.org/widget.js" paypalExpress="false"></script>
    </head>
    <body class="
        text-navy">
        {nav ? <Navbar page={title} /> : <></> }
        <main class={mainClasses}>
            <slot />
        </main>
    </body>
</html>
